# Python
__pycache__/
*.pyc
*.pyd
*.pyo
*.pyl
.Python
env/
venv/
.venv/
*venv/
myenv/

# Distribution and packaging
.eggs/
*.egg-info/
dist/
build/
wheels/
*.whl

# IDEs and other tools
.idea/
.vscode/
*.log
*.sqlite
.vs/

# TensorFlow/MediaPipe models (if they are outputs or large binaries)
*.tflite

# Logs
logs/

# Media files
*.mp4